<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.reader.mapper.BookMapper">
    <sql id="tBookColumns">
        a.id as "id",
        a.name as "name",
        a.pricate as "pricate",
        a.score as "score",
        a.author as "author",
        a.introduction as "introduction",
        a.thumbsup as "thumbsup",
        a.top as "top",
        b.name as "type",
        a.upauthor as "upauthor",
        a.bookUrl as "bookUrl",
        a.biaoqianId as "biaoqianId",
        a.upauthorId as "upauthorId",
        a.delflag as "delflag",
        a.remarks as "remarks",
        a.createTime as "createTime"
    </sql>

    <sql id="tBookJoins" >
    </sql>

    <select id="selectAll" resultType="Book">
       select
        <include refid="tBookColumns"></include>
        from book a , biaoqian b
        <include refid="tBookJoins"></include>
        where b.id = a.biaoqianId  and a.delflag = "0"
        order by a.createTime desc
    </select>

    <select id="selectId" resultType="Book">
        select 
        <include refid="tBookColumns"></include>
        from book a , biaoqian b
        <include refid="tBookJoins"></include>
        where b.id = a.biaoqianId  and a.delflag = "0" and a.id = #{id}
    </select>

    <select id="findBookOrBiaoqianId" resultType="Book">
        select
        <include refid="tBookColumns"></include>
        from book a, biaoqian b
        <include refid="tBookJoins"></include>
        where a.biaoqianId = #{biaoqianid}  and a.delflag = "0" and b.id = a.biaoqianId
        order by a.createTime desc
    </select>
    
    <select id="findName" resultType="Book">
        select
        <include refid="tBookColumns"></include>
        from book a , biaoqian b
        <include refid="tBookJoins"></include>
        where
        <if test="name != null and name != ''">
        a.name = #{name} and
        </if>
        a.delflag = "0" and b.id = a.biaoqianId
        order by a.createTime desc
    </select>

    <update id="updateOrid">
        UPDATE book
        <set>
            <if test="name !=null and name !=''">
                name = #{name},
            </if>
            <if test="pricate != null and pricate != ''">
                pricate = #{pricate},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
            <if test="bookUrl != null and bookUrl != ''">
                bookUrl = #{bookUrl},
            </if>
            <if test="biaoqianId != null and biaoqianId != ''">
                biaoqianId = #{biaoqianId}
            </if>
        </set>
        where id = #{id}
    </update>
    
    <update id="deleteId">
        update book
        set delflag = "1"
        where id = #{id}
    </update>

    <insert id="add">
        INSERT INTO book(
        name,
        pricate,
        author,
        introduction,
        bookUrl,
        biaoqianId,
        upauthorId,
        createTime,
        score,
        thumbsup
        ) VALUES (
        #{name},
        #{pricate},
        #{author},
        #{introduction},
        #{bookUrl},
        #{biaoqianId},
        #{upauthorId},
        #{createTime},
        #{score},
        #{thumbsup}
        )
    </insert>
</mapper>