<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.reader.mapper.UserLoginTimeMapper">
    <sql id="tUserLoginTimesColumns">
        a.id as "id",
        a.uid as "uid",
        a.createTime as "createTime",
        a.remarks as "remarks",
        a.delflag as "delflag"
    </sql>
    <sql id="tUserLoginTimeJoins"></sql>

    <insert id="add">
        INSERT INTO user_logintime(
            id,
            uid,
            createTime,
            remarks
        ) VALUES (
            #{id},
            #{uid},
            #{createTime},
            #{remarks}
        )
    </insert>

    <select id="selectUid" resultType="UserLoginTime">
        select
        <include refid="tUserLoginTimesColumns"></include>
        from user_logintime a
        <include refid="tUserLoginTimeJoins"></include>
        where a.uid =#{uid} and a.delflag = 0
        order by a.createTime desc limit 1 offset 1
    </select>
</mapper>