<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.reader.mapper.UserDetailedMapper">
    <sql id="tUserDetailedColumns">
        a.id as "id",
        a.username as "username",
        a.leavel as "leavel",
        a.signature as "signature",
        a.uid as "uid",
        a.pricate as "pricate",
        a.delflag as "delflag",
        a.remarks as "remarks",
        a.createTime as "createTime"
    </sql>

    <sql id="tUserDetailedJoins">
    </sql>

    <select id="selectAll" resultType="UserDetailed">
        select 
        <include refid="tUserDetailedColumns"></include>
        from userdetailed a
        <include refid="tUserDetailedJoins"></include>
        where a.delflag = "0"
    </select>

    <select id="selectUid" resultType="UserDetailed">
        select
        <include refid="tUserDetailedColumns"></include>
        from userdetailed a
        <include refid="tUserDetailedJoins"></include>
        where a.delflag = '0' and  a.uid = 1
    </select>
</mapper>